:root {
  /*--ui-button-bg-secondary: rgba(255, 255, 255, 0.2);*/
  /*--ui-button-bg-primary: linear-gradient(91deg, #B0BAC2 2.04%, #333C46 97.63%);*/
  /*--ui-button-border-outline: rgba(255, 255, 255, 0.20);*/

  /*--ui-button-text-primary: #fff;*/
  /*--ui-button-text-secondary: #999;*/
}

html.dark {
  --ui-button-bg-secondary: rgba(255, 255, 255, 0.2);
  --ui-button-bg-primary: linear-gradient(91deg, #B0BAC2 2.04%, #333C46 97.63%);
  --ui-button-border-outline: rgba(255, 255, 255, 0.20);

  --ui-button-text-primary: #fff;
  --ui-button-text-secondary: #999;
  --ui-button-text-outline: #999;
}
