:root {
  color-scheme: light;

  // App
  --app-text-color-base: red;
  --app-font-size-base: 14px;
  --app-bg-color: red;
  --app-transition-duration: 0.3s;

  // Sidebar
  --app-sidebar-width: 200px;
  --app-sidebar-collapsed-width: 64px;
  --app-sidebar-bg-color: #262c33;

  // Header
  --app-header-height: 60px;
  //--app-header-bg-color
  --app-header-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);

  // Page
  --app-page-padding: 20px;
  //--app-page-bg-color

}

html.dark {
  color-scheme: dark;
}

// 重置样式
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: var(--app-font-size-base);
  color: var(--app-text-color-base);
  background-color: var(--app-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
